@model MobileStore.Models.Register
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MultiShop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/main.css">
    <script src="/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: '542162913437632',
                cookie: true,                     // Enable cookies to allow the server to access the session.
                xfbml: true,                     // Parse social plugins on this webpage.
                version: 'v10.0'           // Use this Graph API version for this call.
            });
        };

        function onLoginFace() {
            FB.getLoginStatus(function (response) {
                if (response.status == "connected") {
                    var accessToken = response.authResponse.accessToken;
                    var graphDomain = response.authResponse.graphDomain;
                    var userID = response.authResponse.userID;
                    document.cookie = "accessToken=" + accessToken;
                    document.cookie = "graphDomain=" + graphDomain;
                    document.cookie = "userID=" + userID;
                    window.location.href = '@Url.Action("DangnhapFace","Login")';
                } else {
                    FB.login(function (response) {
                        var accessToken = response.authResponse.accessToken;
                        var graphDomain = response.authResponse.graphDomain;
                        var userID = response.authResponse.userID;
                        document.cookie = "accessToken=" + accessToken;
                        document.cookie = "graphDomain=" + graphDomain;
                        document.cookie = "userID=" + userID;
                    window.location.href = '@Url.Action("DangnhapFace","Login")';
     Url              })
                }
            });
        };

        function onRegister() {
            var fullName = document.getElementById("fullName").value;
            var phoneNumber = document.getElementById("phoneNumber").value;
            var userName = document.getElementById("userName").value;
            var passWord = document.getElementById("passWord").value;
            document.cookie = "userNameRegister=" + userName;
            document.cookie = "passWordRegister=" + passWord;
            document.cookie = "phoneNumberRegister=" + phoneNumber;
            document.cookie = "fullNameRegister=" + fullName;
            window.location.href = '@Url.Action("RegisterAccount", "Register")';
        }

        function onLoginApp() {
            window.location.href = '@Url.Action("Index","Login")';
        }
    </script>
</head>
<body>



    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Content/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="login100-form">
                        <span class="login100-form-title p-b-49">
                            Đăng ký
                        </span>

                        <div class="wrap-input100">
                            <span class="label-input100">@Html.LabelFor(model => model.FullName)</span>
                            <div class="input100" style="height: 25px !important;">
                                @Html.EditorFor(model => model.FullName)
                            </div>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                        <div style="margin-bottom: 15px;">@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })</div>

                        <div class="wrap-input100">
                            <span class="label-input100">@Html.LabelFor(model => model.PhoneNumber)</span>
                            <div class="input100" style="height: 25px !important;">
                                @Html.EditorFor(model => model.PhoneNumber)
                            </div>
                            <span class="focus-input100" data-symbol="&#9742;"></span>
                        </div>
                        <div style=" margin-bottom: 15px;">@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })</div>

                        <div class="wrap-input100">
                            <span class="label-input100">@Html.LabelFor(model => model.UserName)</span>
                            <div class="input100" style="height: 25px !important;">
                                @Html.EditorFor(model => model.UserName)
                            </div>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                        <div style=" margin-bottom: 15px; ">@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</div>

                        <div class="wrap-input100 validate-input">
                            <span class="label-input100">@Html.LabelFor(model => model.PassWord)</span>
                            <div class="input100" style="height: 25px !important;">
                                @Html.EditorFor(model => model.PassWord)
                            </div>
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                        <div style=" margin-bottom: 15px;">@Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })</div>

                        <div class="container-login100-form-btn" style="margin-top:20px;">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <input class="login100-form-btn" style="background-color:#0000 !important;color:black !important; cursor:pointer;" type='submit' value="Đăng ký" />
                            </div>
                        </div>

                        <div class="txt1 text-center p-t-54 p-b-20">
                            <span>
                                Hoặc đăng nhập với
                            </span>
                        </div>

                        <div class="flex-c-m">
                            <a href="#" class="login100-social-item bg1" onclick="onLoginFace()">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>
                        <span style="font-size:14px;display:block;text-align: center;">
                            <span>Bằng việc đăng ký, bạn đã đồng ý với MultiShop về</span>&nbsp;
                            <a href="#" style="color:red;">Điều khoản dịch vụ & chính sách bảo mật</a>
                        </span>
                        <div class="flex-c-m" style="display: inline-block;padding-top:10px;float:right">
                            <span style="float:left;color:#aaa;font-size:15px;">Bạn đã có tài khoản?&nbsp;</span>
                            <a href="#" style="float:left;color:red;" onclick="onLoginApp()">
                                Đăng nhập
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>





    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <!--<script src="js/main.js"></script>-->

</body>
</html>